@using Microsoft.AspNet.Identity
@if (Session["Email"] != null)
{
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
        @Html.ActionLink(HttpContext.Current.Session["Email"].ToString(),"Index","Home")
        </li>
        <li>@Html.ActionLink("Uitloggen","LogOff","Home")</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registreren", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Inloggen", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
    </ul>
}
